<form class="col s12 indigo lighten-5" #datePicker="ngForm"  >
    <select (change)="selectedYear($event.target.value)" class="browser-default"  >
      <!-- <option value="">Izberi leto</option> -->
      <option  *ngFor="let leto of leta">{{leto }}</option>
    </select>

    <select (change)="selectedMonth($event.target.value)" class="browser-default"  >
      <!-- <option value="">Izberi mesec</option> -->
      <option  *ngFor="let mesec of meseci" >{{mesec}}</option>
    </select>



</form>

<table class="striped">
    <thead>
      <tr>
          <th>Dan Pranja</th>
          <th>Termin</th>
          <th>Pralna soba</th>
          <th>Št. pralnih strojev</th>
          <th>Izbriši</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let res of tajnistvoService.res">

        <td>{{ res.dateOfWashing}}</td>
        <td>{{ res.periodName}}</td>
        <td>{{ res.washingRoomName}}</td>
        <td>{{ res.washingMachineCount}}</td>
        <td >  <a  class="btn btn-medium red" (click)="deleteReservation(res)">
            Izbriši
            </a></td>
<!--         <td class="brand-logo center">
               <div>
                 <div *ngIf="user.id == tajnistvoService.userId">
                    <a  class="btn btn-medium red" (click)="showUser(user.id)">
                        Prikaži
                        </a>
                 </div>
                 <div *ngIf="user.id != tajnistvoService.userId">
                    <a  class="btn btn-medium green" (click)="showUser(user.id)">
                        Prikaži
                        </a>
                 </div>

               </div>

          
        </td> -->
            
      </tr>
    </tbody>
  </table>