<app-navigation></app-navigation>
<table>
  <thead>
    <tr>
        <th>Ura/Dan</th>
        <th>Ponedeljek</th>
        <th>Torek</th>
        <th>Sreda</th>
        <th>Četrtek</th>
        <th>Petek</th>
        <th>Sobota</th>
        <th>Nedelja</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>06:00-9:00</td>
    </tr>
    <tr>
        <td>10:00-13:00</td>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
    </tr>
    <tr>
      <td>14:00-17:00</td>
      <td>Jonathan</td>
      <td>Lollipop</td>
      <td>$7.00</td>
    </tr>
    <tr>
        <td>18:00-21:00</td>
    </tr>
  </tbody>
</table>
