<div class="container">
    <div class="col s12">
        <h4>Spremeni geslo</h4>
      </div>
  <div class="row">
      <form #resetPassword="ngForm" style="background-color: white; color: black;"  class="col s12 " (ngSubmit)="OnSubmit(PasswordBefore, Password1, Password2)">



          <div class="row">
            <div class="input-field col s12">
              <input type="password"  #PasswordBefore ngModel name="PasswordBefore" placeholder="Trenutno geslo" required> 
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input type="password" #Password1 ngModel name="Password1" placeholder="Novo Geslo" required> 
              </div>
            </div>
          <div class="row">
              <div class="input-field col s12">
                <input type="password" #Password2 ngModel name="Password2" placeholder="Novo Geslo" required> 
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button [disabled]="!resetPassword.valid" class="btn-large btn-submit" type="submit">Spremeni geslo</button>
              </div>
            </div>
        </form>
  </div>

</div>
