<app-navigation></app-navigation>
<div class="row">
    <table class="striped">
        <thead>
          <tr>
<!--               <th>Slika</th> -->
              <th>Priimek</th>
              <th>Ime</th>
              <th>Termin</th>
              <th>Pralna soba</th>
              <th>Št pralnih strojev</th>
              <th>Začetek</th>
              <th>Konec</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let r of receptorService.res">
<!--               <td > <img  [src]="imageFolder+r.imageUrl" style="width: 32px; height: 40px; margin:2px;"></td> -->
            <td>{{r.lastName}}</td>
            <td>{{r.firstName}}</td>
            <td>{{r.periodName}}</td>
            <td>{{r.washingRoomName}}</td>
            <td>{{r.washingMachineCount}}</td>
            <td><div *ngIf="!r.startStatus"><a (click)=startWashing(r)> <i class="btn btn-small red">Prevzel</i></a></div>
              <div *ngIf="r.startStatus">Prevzel</div>
            </td>
            <td><div *ngIf="!r.endStatus"><a (click)=stopWashing(r)> <i class="btn btn-small green">Vrnil</i></a></div>
              <div *ngIf="r.endStatus">Vrnil</div>
            </td>
          </tr>
        </tbody>
      </table>
</div>